.education__row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    gap: 30px;
}
.education__row-card{
    height: 600px;

    display: flex;
    flex-direction: column;
}
.card__top{
    position: relative;

}
.card__tools{
    display: flex;
    align-items: center;
    gap: 30px;

    position: absolute;
    content: "";
    bottom: 20px;
    left: 30px;
}
.card__tag{
    font-family: "Montserrat SemiBold";
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background-color: #E74040;
    padding: 0 10px;
    max-width: 52px;
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
}
.card__tools-item{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.card__bottom{
    padding: 25px;
}
.card__header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card__stars-count{
    margin-left: 15px;
    background: #26335D;
    border-radius: 20px;
    width: 50px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card__subtitle{
    color: #FF6551;
    font-family: "Montserrat SemiBold";
    font-size: 14px;
    line-height: 24px;
}
.card__title{
    margin-bottom: 10px;
    color: #252B42;
    font-family: "Montserrat SemiBold";
    font-size: 16px;
    line-height: 24px;
}
.card__text{
    margin-bottom: 10px;
    color: #737373;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.downloads_block{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.download__count{
    margin-left: 4px;
    color: #737373;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.card__cost{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.cost__old{
    color: #BDBDBD;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
}
.cost__new{
    color: #2435A1;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.card__button{
    font-family: "Montserrat SemiBold";
    font-size: 14px;
    line-height: 24px;
    color: #FF6551;
    border: 1px solid #FF6551;
    border-radius: 37px;
    padding: 10px 20px;
    max-width: 90px;
}